* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    --theme: #000;
    --button--theme: #fedc00;
    --error: #E54141;
}

body {
    background-color: #000;

    font-family: 'Lato', sans-serif;
    /* font-family: 'Passion One', cursive; */
    /* font-family: 'Oswald', sans-serif;   */
}
